@model Common.Models.UserCreateModel

@{
    ViewBag.Title = "CreateUser";
    Layout = "_Layout";
}

<h2>Create user</h2>
<form asp-action="CreateUser">

    <tr>
        <ul>
            Name:
            <input asp-for="Name"/>
            <!-- since we have a validation in the model, we can use this helper to display the error message -->
            <span asp-validation-for="Name" class="text-danger"></span>
        </ul>
        <ul>
            Email:
            <input asp-for="Email"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </ul>
        <ul>
            <select asp-for="GenderId" asp-items="@ViewBag.Genders" class="form-control"></select>
        </ul>
        <input type="submit" value="Create"/>
    </tr>
</form>