@{
    ViewBag.Title = "User page";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="GetAllUsers">Get all users</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="CreateUser">Create user</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="UpdateUser">Edit user</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="DeleteUser">Delete user</a>
</div>
</body>
</html>