@model Common.Models.UserUpdateModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

//Create form for updating user
<form asp-action="UpdateUser">

    <tr>
        <ul>
            Id:
            <input asp-for="Id"/>
        </ul>
        <ul>
            Name:
            <input asp-for="Name"/>
        </ul>
        <ul>
            Email:
            <input asp-for="Email"/>
        </ul>
        <ul>
            <select asp-for="GenderId" asp-items="@ViewBag.Genders" class="form-control"></select>
        </ul>
        <input type="submit" value="Update"/>
    </tr>
</form>
